<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
  <title>My Recipes</title>
</head>
<body>
    
<div class="jumbotron_text-center">
    
        <i class="fas fa-key fa-6x"></i>    
        
        <h1 class="display-3"><%= rec.title %></h1> 
        <table>
            <tr>
                <td>        
                    
                    <strong> Ingredients:</strong>
                    <ul>
                        <% ing.forEach(function(ing) { %>
                            <li>
                                <strong><%= ing.name %></strong>
                                <%= ing.amount.toFixed(2) %>
                                <%= ing.unit %>
                            </li>
                        <% }); %>
                    </ul>
                    
                </td>
                <td><p><img src="<%= rec.image %>" width="250" height="150" ></p></td>
            </tr>
        </table>  
        <h2>Summary:</h2> 
         <%- rec.summary -%>
        <h2>Instructions:</h2> 
        <%- rec.instructions -%>
</div>
</body>
</html>
